
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-bg-primary: #fff;
    --color-bg-secondary: #FF2323;
    --color-bg-tertiary: #DADADA;

    --color-font-primary: #6F6F6F;
    --color-font-secondary: #fff;

}

body {
    background-color: var(--color-bg-tertiary);
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dflex {
    display: flex;
}

.mb30 {
    margin-bottom: 30px;
}

.mt30 {
    margin-top: 30px;
}


.section-title{
    font-size: 32px;
    text-align: center;
    color: var(--color-font-primary);
    font-size: 32px;
    font-weight: 700;
    margin-top: 38px;
    margin-bottom: 17px;
}